# Distribution / packaging
__pycache__/
*.egg-info/
.DS_Store

# *.pkl
*.pdf
*.png
/results/jrnnm/4d/*/euler*/*
/results/jrnnm/4d/*/langevin*/*
/results/jrnnm/dataset*.pkl
/results/jrnnm/3d/*/euler*/*
/results/jrnnm/3d/*/langevin*/*
/results/uniform/*
/results/gaussian/*
/results/sbibm/*/*/euler*/
/results/sbibm/*/*/ddim*/
/results/sbibm/*/*/langevin*/
/results/sbibm/*/*metrics*/
/results/sbibm/*good/
/results/*/_*/

/test_toy
*old*
*dataset*