# Distribution / packaging
__pycache__/
*.egg-info/
__init__.py
.DS_Store

# *.pkl
*.pdf
*.png
/results/jrnnm/4d/*/euler*/*
/results/jrnnm/dataset*.pkl
/results/jrnnm/3d/*/euler*/*
/results/uniform/*
/results/gaussian/*
score_net*.pkl
*train_losses*.pkl